body{
  background: #ffe;
  font-family: 'Indie Flower', cursive;
}
h1{
  color: rgb(90, 20, 90);
}
.container {
  width: 90%;
  margin: 0 auto;
}
.form_wrapper{
  text-align: center;
}
img {
  width: 150px;
}
ul.navigation_list {
  display:inline;
}
ul>li {
  list-style-type: none;
  /* border: 1px black solid; */
  padding: 10px;
  float: right;
}
ul :hover{
  color: #fff;
background : #080;
}
#nav_bar{
  border-bottom: 1px #000 solid;
  margin-bottom: 50px;
  padding-bottom: 20px;
}
#forgot_password{
  margin-left: 80px;
  text-decoration: none;
  color: rgb(0, 38, 255);
}
#submit_button{
  background: rgba(97, 66, 89, 0);
  padding: 5px;
  color: black;
}
#submit_button:hover{
 background : green;
 color: white;
}

